spring:
  application:
    name: SSE-Streaming

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: anhduy12
    driver-class-name: org.postgresql.Driver

  redis-cache:
    host: localhost
    port: 6379


