<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springmybatis.mapper.StudentMapper">
    <insert id="insertStudent" parameterType="StudentVO" >
        INSERT INTO STUDENT (id, name, address, age, male) VALUES (#{id}, #{name}, #{address}, #{age}, #{male});
    </insert>

    <update id="updateStudent" parameterType="StudentVO" >
       UPDATE STUDENT SET name = #{name}, address = #{address}, age = #{age}, male = #{male} WHERE ID = #{id};
    </update>

    <delete id="deleteStudentById" parameterType="string">
        DELETE from STUDENT WHERE ID = #{id};
    </delete>

    <select id="selectAllStudent" resultMap="result">
        SELECT * FROM STUDENT;
    </select>

    <select id="info" parameterType="string" resultType="StudentVO">
        SELECT * FROM STUDENT WHERE ID = #{id};
    </select>

    <select id="getPage" resultType="StudentVO">
        SELECT * FROM student WHERE id > #{id} ORDER BY id LIMIT #{limit};
    </select>

    <select id="totalElement" resultType="integer">
        SELECT COUNT(id) FROM student;
    </select>

    <resultMap id = "result" type = "StudentVO">
        <result property = "id" column = "ID"/>
        <result property = "name" column = "NAME"/>
        <result property = "address" column = "ADDRESS"/>
        <result property = "age" column = "AGE"/>
        <result property = "male" column = "MALE"/>
    </resultMap>
</mapper>